.loading-screen{
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: grid;
    align-items: center;
    vertical-align: middle;
    background: white;
}

.loading-block{
    width: 45px;
    height: 45px;
    margin: 0 auto;

    transform-origin: center;

    animation: loading 1s infinite ease-in-out;
}

.loading-center{
    transform: translate(9px, 9px);
}

.loading-core{
    position: absolute;
    height: 30px;
    width: 30px;
    background: rgb(0, 255, 255);
    filter: blur(4px);

    animation: core 1s infinite ease-in-out;
}

.loading-brick{
    position: absolute;
    width: 20px;
    height: 20px;
    filter: blur(0px);
    background: red;
}

.loading-center>.loading-brick:nth-child(2){
    transform: translate(-6.5px, -6.5px);

    animation: brick1 1s infinite ease-in-out;
}

.loading-center>.loading-brick:nth-child(3){
    transform: translate(13.5px, -6.5px);

    animation: brick2 1s infinite ease-in-out;
}

.loading-center>.loading-brick:nth-child(4){
    transform: translate(-6.5px, 13.5px);

    animation: brick3 1s infinite ease-in-out;
}

.loading-center>.loading-brick:nth-child(5){
    transform: translate(13.5px, 13.5px);

    animation: brick4 1s infinite ease-in-out;
}

.block-scroll{
    overflow: hidden;
}


@keyframes brick1{
    0%{
        transform: translate(-6.5px, -6.5px);
        filter: blur(4px);
    }

    35%{
        transform: translate(-16.5px, -16.5px);
        filter: blur(1px);
    }

    65%{
        transform: translate(-16.5px, -16.5px);
        filter: blur(1px);
    }

    100%{
        transform: translate(-6.5px, -6.5px);
        filter: blur(4px);
    }
}

@keyframes brick2{
    0%{
        transform: translate(13.5px, -6.5px);
        filter: blur(4px);
    }

    35%{
        transform: translate(23.5px, -16.5px);
        filter: blur(1px);
    }

    65%{
        transform: translate(23.5px, -16.5px);
        filter: blur(1px);
    }

    100%{
        transform: translate(13.5px, -6.5px);
        filter: blur(4px);
    }
}

@keyframes brick3{
    0%{
        transform: translate(-6.5px, 13.5px);
        filter: blur(4px);
    }

    35%{
        transform: translate(-16.5px, 23.5px);
        filter: blur(1px);
    }

    65%{
        transform: translate(-16.5px, 23.5px);
        filter: blur(1px);
    }

    100%{
        transform: translate(-6.5px, 13.5px);
        filter: blur(4px);
    }
}

@keyframes brick4{
    0%{
        transform: translate(13.5px, 13.5px);
        filter: blur(4px);
    }

    35%{
        transform: translate(23.5px, 23.5px);
        filter: blur(1px);
    }

    65%{
        transform: translate(23.5px, 23.5px);
        filter: blur(1px);
    }

    100%{
        transform: translate(13.5px, 13.5px);
        filter: blur(4px);
    }
}

@keyframes loading{
    0%{
        transform: rotate(0deg);
    }

    35%{
        transform: rotate(0deg);
    }

    65%{
        transform: rotate(90deg);
    }

    100%{
        transform: rotate(90deg);
    }
}

@keyframes core{
    0%{
        filter: blur(1px);
    }

    35%{
        filter: blur(4px);
    }

    65%{
        filter: blur(4px);
    }

    100%{
        filter: blur(1px);
    }
}

@keyframes fadeUp{
    0%{
        opacity: 1;
        transform: translateY(0vh);
    }

    100%{
        opacity: 0;
        /* transform: translateY(-30vh); */
        transform: scale(0.75, 0.75);
        filter: blur(30px);
    }
}

.loading-fade{
    pointer-events: none;
    user-select: none;
    animation: fadeUp 0.5s ease-in-out;
    animation-fill-mode: forwards;
}
